body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: peachpuff;
}

h1 {
    padding-top: 4em;
}

p{
    margin: 2em 0;
}

img {
    width: 30em;
    max-width: 50%;
}

h2 {
    padding-top: 3em;
}

p {
    text-align: center;
}
